/**
 * fetchmail_rc plugin styles
*/

#fetchmail_rc-list
{
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    bottom: 0;
}

#fetchmail_rc-list-filters
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
}

#fetchmail_rc-list-examples
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: auto;
}

#fetchmail_rc-details
{
    position: absolute;
    top: 0;
    left: 270px;
    right: 0;
    bottom: 0;
}

#fetchmail_rc-advanced
{
    position: absolute;
    top: 0;
    left: 232px;
    right: 0;
    bottom: 0;
}

span.disableLink
{
    float: right;
    width: 200px;
    text-align: right;
}

#fetchmail_rc-table,
#fetchmail_rc-examples
{
    width: 100%;
}

#fetchmail_rc-table tbody td
{
    cursor: default;
}

#fetchmail_rc-table tbody td.control,
#rules-table tbody td.control,
#actions-table tbody td.control
{
    text-align: right;
}

#fetchmail_rc-table tbody td.control a,
#rules-table tbody td.control a,
#actions-table tbody td.control a
{
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    background-image: url(icons.png);
}

#fetchmail_rc-table tbody td.control a.up_arrow
{
    background-position: 0 0;
}

#fetchmail_rc-table tbody td.control a.down_arrow
{
    background-position: 0 -18px;
}

#rules-table tbody td.control,
#actions-table tbody td.control
{
    vertical-align: top;
}

#rules-table tbody td.control a.add,
#actions-table tbody td.control  a.add
{
    margin-left: 5px;
    background-position: 0 -78px;
}

#rules-table tbody td.control a.delete,
#actions-table tbody td.control  a.delete
{
    background-position: 0 -59px;
}

#rules-table tbody td.control a.delete_act,
#actions-table tbody td.control  a.delete_act
{
    background-position: 0 -39px;
}

#actions-table tbody a.vacsig
{
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(icons.png);
    background-position: -1px -126px;
}

#actions-table tbody a.vacsig_act
{
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(icons.png);
    background-position: -1px -102px;
}

table.records-table
{
    width: auto;
    border: 0;
}

table.records-table tbody td,
table.records-table thead td
{
    border: 0;
}

#rules-table,
#actions-table
{
    width: 100%;
}

#rules-table td table.records-table
{
    width: auto;
}

#rules-table td,
#actions-table td,
#rules-table td table.records-table td
{
    width: auto;
}

#rules-table td.selheader,
#rules-table td.op
{
    width: 130px;
}

#rules-table td.header
{
    width: 135px;
}

#rules-table td.target
{
    width: 180px;
}

#rules-table input
{
    width: 150px;
}

#rules-table input.short
{
    width: 100px;
}

#rules-table select
{
    width: 123px;
}

#rules-table select.short
{
    width: 45px;
}

#rules-table select.long
{
    width: 157px;
}

#rules-table td table.records-table select
{
    width: 432px;
}

#rules-table td table.records-table input
{
    width: 426px;
}

#rules-table td table.records-table input.short
{
    width: 406px;
}

#rules-table td table.records-table input.radio
{
    width: auto;
}

#actions-table td.action
{
    width: 165px;
    vertical-align: top;
}

#actions-table td.folder
{
    width: 420px;
    vertical-align: top;
}

#actions-table td.action select
{
    width: 160px;
}

#actions-table td.folder input,
#actions-table td.folder textarea
{
    width: 400px;
}

#actions-table td.folder select
{
    width: 408px;
}

#actions-table td.folder table.records-table select
{
    width: 337px;
}

#actions-table td.folder table.records-table input,
#actions-table td.folder table.records-table textarea
{
    width: 330px;
}

#actions-table td.folder table.records-table input.short,
#actions-table td.folder table.records-table select.short
{
    width: 310px;
}

#actions-table td.folder table.records-table input.checkbox,
#actions-table td.folder table.records-table input.radio
{
    width: auto;
}

table.records-table td.msg
{
    vertical-align: top;
}

table.records-table td.vacdaysexp
{
    width: 398px;
    white-space: -moz-pre-wrap !important;
    white-space: pre-wrap !important;
    white-space: pre;
}

#advancedmode
{
    white-space: nowrap;
    text-align: right;
    position: absolute;
    bottom: 30px;
    right: 20px;
    width: 460px;
}

#fetchmail_rc-advancedbox
{
    position: absolute;
    top: 34px;
    left: 0;
    bottom: 100px;
    right: 8px;
}

#fetchmail_rc-advanced textarea
{
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

.listing tbody tr.droptarget td
{
    border-top: 2px solid #0e5266;
    background-color: #D9ECF4;
}

.listing tbody tr.droptargetend td
{
    border-bottom: 2px solid #0e5266;
    background-color: #D9ECF4;
}

#fetchmail_rcrsdialog h3
{
    color: #333;
    font-size: medium;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#fetchmail_rcrsdialog table td input
{
    width: 20em;
}

#fetchmail_rcrsdialog .formbuttons
{
    margin-top: 1.5em;
    text-align: center;
}

input.inputmask
{
    color: #999999;
}

#fetchmail_rcactionsmenu a.selected
{
    font-weight: bold;
}

#fetchmail_rc-advbuttons
{
    position: absolute;
    left: 0;
    bottom: 45px;
}

#fetchmail_rc-advanced .boxfooter
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 27px;
    padding-left: 1px;
    border-top: 1px solid #ddd;
    border-radius: 0 0 4px 4px;
    background: #eaeaea;
    background: -moz-linear-gradient(top, #eaeaea 0%, #c8c8c8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#c8c8c8));
    background: -o-linear-gradient(top, #eaeaea 0%, #c8c8c8 100%);
    background: -ms-linear-gradient(top, #eaeaea 0%, #c8c8c8 100%);
    background: linear-gradient(top, #eaeaea 0%, #c8c8c8 100%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#fetchmail_rc-advanced .boxfooter .listbutton
{
    background: #C4BEBE;
}

#fetchmail_rc-advanced .boxfooter .listbutton .inner
{
    height: 20px;
    background-image: url(listicons.png);
    background-position: 5px -52px;
}

#fetchmail_rc-advanced .boxfooter #message
{
    position: absolute;
    top: 0;
    left: 65px;
}

form#fetchmail_rc_form .required {
    color: #FF3333;
}

form#fetchmail_rc_form input, form#fetchmail_rc_form select {
    display: block;
    clear: right;
    margin: 5px 0;
}
form#fetchmail_rc_form input[type="checkbox"] {
    display: block;
}

#fetchmail_rc_loader {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;    
    z-index: 120;
    display: none;
}

#fetchmail_rc_loader > .background {
    background-color: #000000;
    filter : alpha(opacity=40);
    opacity : 0.4;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    display: block;
}

#fetchmail_rc_loader > .background {
    background-color: #000000;
    filter : alpha(opacity=40);
    opacity : 0.4;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    display: block;
}

#fetchmail_rc_loader > .message {
    display: block;
    width: 200px;
    height: 150px;
    text-align: center;
    padding: 10px;
    background-color: #454545;
    color: white;
    position: absolute;
}
