/**
 * fetchmail_rc plugin styles (tab styles)
 */

#settings-sections #settingstabpluginfetchmail_rc a
{
  background-image: url(listicons.png);
  background-position: 6px -2px;
}

#settings-sections #settingstabpluginfetchmail_rc.selected a
{
  background-image: url(listicons.png);
  background-position: 6px -25px;
}